.notfound-page {
  max-width: 1440px;
  height: 100%;
  width: 100%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.message_block {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 15px;
}

.smile-image {
}

.notfound-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
  font-weight: bold;
}

.links_block {
  display: flex;
  gap: 30px;
}
