mat-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
mat-card-header {
  display: flex;
  gap: 15px;
}

mat-card-content {
  display: flex;
  gap: 15px;
}
.user_name {
}
.user_id {
}

.user_email {
}

.user_creation {
}
