.dialog_window {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding: 10px;
    align-items: center;
  }

  mat-dialog-title {
    align-self: center;
  }

  mat-dialog-actions {
    align-self: center;
  }