.admin-page {
    padding-top: 30px;
    padding-bottom: 15px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  mat-card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 15px;
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  mat-form-field {
    width: 450px;
  }
  
  mat-card-header {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  

  mat-card-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }