<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="./../../../../../assets/icons/youtube.png" alt="youtube" />
    <app-button (click)="showMainPage()">Main page</app-button>
    <app-search-input class="search-container"></app-search-input>
    <button (click)="showFavoritePage()" mat-fab aria-label="Example icon button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <app-button (click)="showAdminPage()">Admin page</app-button>
    <app-user></app-user>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf= "isMenuOpen"
    ><app-sorting></app-sorting
  ></mat-toolbar-row>
</mat-toolbar>
