.mat-toolbar-row {
     display: flex;
     max-width: 1400px;
     width: 100%;
     margin: 0 auto;
     box-sizing: border-box;
     padding: 15px;
     height: auto;
}

app-header {
     display: flex;
     justify-content: space-between;
     width: 70%;
     align-self: end;
     padding-left: 20%;

}