<div class="main_container">
  <mat-card class="groups">
    <mat-card-header>Groups</mat-card-header>
    <mat-card-actions>
      <app-button
        *ngIf="timeUpdateGroupsTimer === 60"
        (click)="startTimerAndUpdateGroups()"
        >Update groups</app-button
      >
      <app-button
        *ngIf="timeUpdateGroupsTimer < 60 && timeUpdateGroupsTimer > 9"
        (click)="startTimerAndUpdateGroups()"
        [disabled]="timeUpdateGroupsTimer !== 60"
        >Time to next update: 00:{{ timeUpdateGroupsTimer }}</app-button
      >
      <app-button
        *ngIf="timeUpdateGroupsTimer <= 9"
        (click)="startTimerAndUpdateGroups()"
        [disabled]="timeUpdateGroupsTimer !== 60"
        >Time to next update: 00:0{{ timeUpdateGroupsTimer }}</app-button
      >
      <app-button (click)="openCreationGroupForm()">Create group</app-button>
    </mat-card-actions>
    <mat-card-content class="group_block">
      <div class="group_item" *ngFor="let group of groups$">
        <app-group-item [currentGroup]="group"></app-group-item>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="peoples">
    <mat-card-header>People</mat-card-header>
    <mat-card-actions>
      <app-button
        *ngIf="timeUpdatePeopleTimer === 60"
        (click)="startTimerAndUpdatePeople()"
        >Update people</app-button
      >
      <app-button
        *ngIf="timeUpdatePeopleTimer < 60 && timeUpdatePeopleTimer > 9"
        (click)="startTimerAndUpdatePeople()"
        [disabled]="timeUpdatePeopleTimer !== 60"
        >Time to next update: 00:{{ timeUpdatePeopleTimer }}</app-button
      >
      <app-button
        *ngIf="timeUpdatePeopleTimer <= 9"
        (click)="startTimerAndUpdatePeople()"
        [disabled]="timeUpdatePeopleTimer !== 60"
        >Time to next update: 00:0{{ timeUpdatePeopleTimer }}</app-button
      >
    </mat-card-actions>
    <mat-card-content class="people_block">
      <div class="people_item" *ngFor="let person of people$">
        <app-person-item [currentPerson]="person" [conversations]="conversationsUser"></app-person-item>
      </div>
    </mat-card-content>
  </mat-card>
</div>
