.message_author {
  font-weight: bold;
  margin-bottom: 0px;
}

.message_text {
  margin-bottom: 0px;
  word-wrap: break-word;
  box-sizing: border-box;
  width: 100%;
}
.message_date {
 margin-bottom: 0px;
}