.pages_content {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  padding: 15px;
}

mat-toolbar {
  padding: 15px;
  display: flex;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.registration_block {
  display: flex;
  gap: 15px;
}

.login_block {
  display: flex;
  gap: 15px;
}
