<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="registration_block">
      <app-button (click)="redirectToSignUp()">Sign Up</app-button>
      <app-button (click)="redirectToSignIn()">Sign In</app-button>
    </div>
    <mat-slide-toggle (click)="changeColorScheme()" [checked]="isChecked">Dark Theme </mat-slide-toggle>
    <div class="login_block">
      <app-button (click)="redirectToProfile()">Profile</app-button>
      <app-button
        (click)="redirectToSignInLogOut()"
        [disabled]="isButtonDisabled"
        >{{ userStatus }}</app-button
      >
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="pages_content" [ngClass]="{'custom-text-color': primaryColor === 'warn'}">
  <router-outlet></router-outlet>
</div>
